*{
  font-family: 'Montserrat', sans-serif;
}

.bg-light{
    background-color: #36b7a9!important;}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

h1{ 
 width: 100%; 
font-family: 'Montserrat Extrabold', sans-serif; 
color: white;
}


.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-image: url(../../../assets/img/service.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.headerColor{
  background-color: #36b7a9;
}
.bg-light2{
   background-color: #36b7a9;
}


@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 20rem;
  }

.colorGrey{
  background-color: grey;
}
.bg-dark {
  background: #36b7a9!important;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
   width: 100%; 
  font-family: 'Montserrat Extrabold', sans-serif; 
  color: white;
}


.jumbotron .container {
  max-width: 40rem;
}


.modificandoelFooter{
  text-align: center;
  background-color: black;
  color: white;
}

.subfinalFooter{
  text-align: center;
  font-size: 14px;
  padding-top: 4%
}

.finalFooter{
  text-align: center;
  font-size: 11px;
}